{% extends "base/base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<script>
var pagetop, yPos, post_title;
  function yScroll (){
    pagetop = document.getElementById('pagetop');
    yPos = window.pageYOffset;
    if(yPos > 150){
      pagetop.style.height = "120px";
    } else {
      pagetop.style.height = "50vh";
    }
  }
  window.addEventListener("scroll", yScroll);
</script>

<article class="single_post">
	<header id="pagetop" {% if post.background %} style="background-image: url({{post.background.url}})" {% endif %}>
    <div>
      <h2>{{ post.title }}</h2>
      <p>{{ post.published_date }}</p>
    </div>
  </header>
	<main>
		<p>{{ post.text|linebreaksbr }}</p>
	</main>
	<footer></footer>
</article>
{% endblock %}
