{% extends "base/base.html" %}
{% load staticfiles i18n %}

{% block title %}{{exhibition.title}}{% endblock %}
{% block pagetitle %}{{exhibition.title}}{% endblock %}
{% block content %}

<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
<div class="newimage">
  {% if old_image %}
  <div class="card">
    <h2>{{old_image.title}}</h2>
    <p>{{user.username}}</p>
  </div>
  <img id="uploadimg" src='{{old_image.image.url}}'>
  <h2>Загруженная вами работа</h2>
  {% else %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="addimage">
        <div class="file-upload">
          <img id="output"/>
          <label>
            <input type="file" name="image" required id="id_image" accept="image/*" onchange="loadFile(event)"/>
            <span>Выберите изображение</span>
          </label>
        </div>

        <label for="id_title">Название</label>
        <input type="text" name="title" required id="id_title" />

        <button class="button" type="submit">Отправить</button>
      </div>
    </form>
  {% endif %}
</div>
{% endblock %}
