{% extends "registration/registration_base.html" %}
{% load staticfiles i18n %}
{% block title %}{% trans "Вход" %} / {% trans "Регистрация" %}{% endblock %}
{% block register %}
<div class="enter_content">
<div class="login_area">
	<form method="POST" action="{% url 'auth_login' %}">
		{% csrf_token %}
	    <div>
				<label for="id_login_username">Имя пользователя</label>
				<input type="text" name="username" autofocus maxlength="254" required id="id_login_username">
			</div>
			<div>
				<label for="id_login_password">Пароль</label>
				<input type="password" name="password" required id="id_login_password">
			</div>
	    <div>
	        <input type="submit" value="{% trans "ВОЙТИ" %}"/>
	    </div>
		<div>
			<p>{% trans "Забыли пароль?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Восстановить" %}</a></p>
		</div>
	</form>
</div>

<div class="registration_area">
	<form method="POST" action="{% url 'registration_register' %}">
		{% csrf_token %}
		<div>
			<span class="card-title">{% trans "РЕГИСТРАЦИЯ" %}</span>
		</div>

		<div>
			<label for="id_registration_username">Имя пользователя</label>
			<input type="text" name="username" maxlength="254" required id="id_registration_username">
		</div>
		<div>
			<label for="id_registration_email">E-mail</label>
			<input type="email" name="email" required id="id_registration_email">
		</div>
		<div>
			<label for="id_registration_password">Пароль</label>
			<input type="password" name="password" required id="id_registration_password">
		</div>
		<div>
			<input class="btn_auth" type="submit" value="{% trans "ЗАРЕГИСТРИРОВАТЬСЯ" %}" />
		</div>
	</form>
</div>
</div>
{% endblock %}
