<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/exhibition.css' %}?v=0.0.2">

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% include 'base/include_header.html' %}
		<main>
			{% block content %}{% endblock %}
		</main>
		{% include 'base/include_footer.html' %}
	</body>
</html>

<!--	<div id="sidebar">
		<ul>
			<li><a id="a_menu" href="{% url 'exhibition_list' %}">Выставки</a></li>
			<li><a id="a_menu" href="{% url 'post_list' %}">Блог</a></li>
			<li><a id="a_menu" href="#!">Вакансии</a></li>
			<li><a id="a_menu" href="{% url 'about' %}">О нас</a></li>
		</ul>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#menu-btn').click(function(){
				$('#sidebar').toggleClass('visible');
			});
		});
	</script>
-->

		<!--
		<style>
			#cursor {
				display: block;
				position: absolute;
				width:10px;
				height: 10px;
				background-color: black;
				transform: translate(50px, 50px);
			}
		</style>
	-->

		<!--Cursor
		<div id ="cursor" class="cursor"></div>
		<script>
		var theThing = document.querySelector("#cursor");
		function readMouseMove(e){
			var xPosition = e.clientX - (theThing.offsetWidth / 2);
			var yPosition = e.clientY - (theThing.offsetHeight / 2);
			console.log( [e.clientX, e.clientY] );

			var translateValue = "translate(" + xPosition + "px," + yPosition + "px)";
			theThing.style.transform = translateValue;
		}
		//document.onmousemove = readMouseMove;
		</script>
		-->
