{% load staticfiles %}
<footer>
    <section class="sound">
      <svg width="29" height="21" viewBox="0 0 29 21" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <rect width="2" height="11" transform="translate(0 5)" fill="black"/>
        <rect width="2" height="17" transform="translate(27 2)" fill="black"/>
        <rect width="2" height="11" transform="translate(18 5)" fill="black"/>
        <rect width="2" height="21" transform="translate(9 0)" fill="black"/>
      </svg>
    </section>
    <section class="social_icons">
      <a><img src="{% static 'img/twitter.svg' %}" alt="Twitter"/></a>
      <a><img src="{% static 'img/facebook.svg' %}" alt="Facebook"/></a>
      <a><img src="{% static 'img/instagram.svg' %}" alt="Instagram"/></a>
      <a><img src="{% static 'img/vk.svg' %}" alt="Vk"/></a>
    </section>
</footer>
