{% extends "base/base.html" %}
{% load staticfiles i18n %}

{% block title %}Профиль{% endblock %}

{% block pagetitle %}Профиль{% endblock %}

{% block content %}
<profile class="profile">
	<header>
    <div></div>
    <h2>{{ user }}</h2>
    <p>{{ user.email }}</p>
  </header>
	<main>
		<h2 class="name">Работы</h2>
		<div class="grid">
		{% for exhibition in exhibitions %}
		    <article class="post">
		      <header {% if exhibition.preview_back %} style="background-image: url({{exhibition.preview_back.url}})" {% endif %}><div></div></header>
		      <main>
		        <h2><a href="{% url 'exhibition_detail' exhibition.pk %}">{{ exhibition.title }}</a></h2>
		        <p>{{ exhibition.open_date|date:"j.m.Y" }}</p>
		      </main>
		    </article>
		{% endfor %}
		</div>
	</main>
	<footer></footer>
</profile>
{% endblock %}
