{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Вход / Регистрация</title>
{% endblock %}

{% block ico_rigth_top %}
<img src="{% static 'img/Exit.svg' %}" alt="Exit"/>
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<div class = "enter_content">
  <div class = "enter_forms">
    <h1>ВХОД</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">ВОЙТИ</button>
    </form>
  </div>
  <div class = "enter_forms">
    <h1>РЕГИСТРАЦИЯ</h1>
    
  </div>
</div>
{% endblock %}
