@font-face{
	font-family: 'Univers';
  	font-style: normal;
  	font-weight: normal;
  	src: local('Univers_normal'),
    	url('/fonts/Univers_normal.ttf') format('ttf');
}
@font-face{
	font-family: 'Univers Condensed';
  	font-style: normal;
  	font-weight: normal;
  	src: local('Univers_condensed'),
    url('/fonts/Univers_condensed.ttf') format('ttf');
}
@font-face{
	font-family: 'Univers Condensed';
  	font-style: normal;
  	font-weight: bold;
  	src: local('Univers_condensed_bold'),
    url('/fonts/Univers_condensed_bold.ttf') format('ttf');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Univers Condensed';
}

body>main{
	min-height: 100vh;
}

body>header,
body>footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100vw;
	z-index: 999;
}

body>header{
	top: 0;
	left: 0;
	padding: 12px 50px 0px 50px;
}

body>footer{
	bottom: 0;
	left: 0;
	padding: 0px 50px 40px 50px;
}

body>footer>section:last-child,
body>footer>section:last-child a{
	display: flex;
	align-items: center;
}

body>footer>section:last-child a{
	margin-right: 20px;
}

body>footer>section:last-child a:last-child{
	margin-right: 0;
}

body>header>section:first-child,
body>header>section:last-child{
	flex-grow: 1;
	width: 100%;
}

body>header .logo{
	width: 68px;
	height: 84px;
	margin-top: 8px;
}

body>header .menu {
	display: flex;
}

body>header .menu a{
	margin-top: 4px;
	margin-right: 24px;
}

body>header .menu svg{
	height: 30px;
	width: 30px;
}

body>header .auth{
	text-align: right;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 24pt;
}

.single_post>main{
	min-height: 200vh;
	padding-top: 80vh;
	padding-left: 25vw;
	padding-right: 15vw;
}

.single_post>main p{
	font-family: 'Univers';
	font-size: 18pt;
}

.single_post>header{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-position: top;
	background-size: cover;
	height: 50vh;
	transition: all 0.5s ease-out 0s;
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
}

.single_post>header div{
	margin-bottom: -120px;
	padding-left: 105px;
}

.single_post>header>div h2{
	width: 30vw;
	font-size: 48pt;
}

.single_post>header>div p{
	width: 30vw;
	font-size: 14pt;
	text-transform: uppercase;
	margin-top: 4px;
}

#sidebar{
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	left: -100%;
	top: 0px;
	background-color: white;
	z-index: 1;
	transition: left 0.7s ease;
}
#sidebar.visible{
	left: 0px;
}

#sidebar ul{
	text-transform: uppercase;
	margin: 120px 0px 0px 240px;
}

#sidebar li{
	margin-bottom: 60px;
}

#menu-btn{
		cursor: pointer;
}

#a_menu{
	font-size: 72px;
}

h1 {
	font-weight: bold;
	font-size: 24pt;
	text-transform: uppercase;
}

h2{
	font-weight: bold;
	font-size: 24pt;
	text-transform: uppercase;
}

ul{
	list-style-type: none;
}

A {
	text-decoration: none;
	color: black;
}
A:hover {
  text-decoration: none;
}

.list{
	display: grid;
	grid-template-columns: repeat(3, 272px);
	grid-row-gap: 100px;
	justify-content: space-between;
	margin-top: 200px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1230px;
}
.post{
	min-height: 360px;
	display: flex;
	flex-direction: column;
}
.post>main{
	display: flex;
	flex-direction: column;
	margin-top: 8px;

}
.post>main>h2{
	flex-grow: 1;
}

.post>main>p{
	font-size: 14pt;
	text-transform: uppercase;
	margin-top: 4px;
}

.post>header{
	background-position: center;
	background-size: cover;
}
.post>header>div{
	display: block;
	padding-top: 100%;
}
