@font-face{
	font-family: 'Univers';
  	font-style: normal;
  	font-weight: normal;
  	src: local('Univers_normal'),
    	url('/fonts/Univers_normal.ttf') format('ttf');
}
@font-face{
	font-family: 'Univers Condensed';
  	font-style: normal;
  	font-weight: normal;
  	src: local('Univers_condensed'),
    url('/fonts/Univers_condensed.ttf') format('ttf');
}
@font-face{
	font-family: 'Univers Condensed';
  	font-style: normal;
  	font-weight: bold;
  	src: local('Univers_condensed_bold'),
    url('/fonts/Univers_condensed_bold.ttf') format('ttf');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Univers Condensed';
	cursor: url(/static/img/cursor_default.svg) 21 21, default;
}


}

body>main{
	min-height: 100vh;
}

body>header,
body>footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100vw;
	z-index: 999;
}

body>header{
	top: 0;
	left: 0;
	padding: 12px 50px 16px 50px;
}

body>footer{
	bottom: 0;
	left: 0;
	padding: 0px 50px 40px 50px;
}

body>footer>section:last-child,
body>footer>section:last-child a{
	display: flex;
	align-items: center;
}

body>footer>section:first-child{
	align-self: flex-end;
}

body>footer>section:last-child a{
	margin-left: 20px;
	margin-top: 18px;
}

body>header>section:first-child,
body>header>section:last-child{
	flex-grow: 1;
	width: 100%;
}

body>header .logo{
	width: 68px;
	height: 84px;
	margin-top: 8px;
}

body>header .menu {
	display: flex;
}

body>header .menu a{
	margin-right: 20px;
}

body>header .menu svg{
	height: 30px;
	width: 30px;
}

body>header .auth{
	display: flex;
	justify-content:flex-end;
	text-align: right;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20pt;
}
body>header .slesh{
	margin-left: 8px;
	margin-right: 8px;
}

body>header .auth svg{
	margin-left: 20px;
}

body>header .auth a:hover{
	text-decoration: underline;
}

.single_post>main{
	min-height: 200vh;
	padding-top: 90vh;
	padding-left: 25vw;
	padding-right: 15vw;
}

.single_post>main p{
	font-family: 'Univers';
	font-size: 16pt;
}

.img{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-position: top;
	background-size: cover;
	height: 50vh;
	transition: all 0.4s ease-out 0s;
	position: fixed;
	top: 0;
	left:0;
	width: 100vw;
}

#com_name{
	font-size: 48pt;

}

#titletop{
	width: 54vw;
	transition: all 0.4s ease-out 0s;
	font-size: 48pt;
}

#titlemargin{
	position: fixed;
	top: 60vh;
	left: 50px;
	transition: all 0.5s ease-out 0s;
}

#vacantion{
	margin-left: 100px;
	margin-top: 160px;
}

.single_post>header>div p{
	width: 30vw;
	font-family: 'Univers Condensed';
	font-size: 12pt;
	text-transform: uppercase;
	margin-top: 4px;
}

.profile>header {
	margin-top: 120px;
	display:flex;
	width: 100vw;
	height: 480px;
	border-bottom: 2px solid black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile>header>div{
	width: 272px;
	height: 272px;
	margin-bottom: 12px;
	background-image: url(../img/profile_img.svg);
}

.profile>header h2{
	margin-bottom: 4px;
}

.name{
	margin-top: 40px;
	margin-left: 100px;
}


#sidebar{
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	left: -100%;
	top: 0px;
	background-color: white;
	z-index: 1;
	transition: left 0.7s ease;
	align-items: center;
	justify-content: space-between;
}
#sidebar.visible{
	left: 0px;
}

#sidebar nav{
	padding-left: 16vw;
}

#sidebar>section{
	padding-right: 13vw;
}

#sidebar li{
	margin-bottom: 60px;
	font-size: 72px;
	font-weight: bold;
	text-transform: uppercase;
}
#sidebar li:last-child{
	margin-bottom: 0px;
}

#typeview{
	display: block;
	position: fixed;
	bottom: 10vh;
	left: 50vw;
	fill: black;
	opacity: 0.5;
	margin: 0;
	margin-right: -50%;
  transform: translate(-50%, -50%);
	transition: opacity 0.5s ease-out 0s;
}

#typeview:hover {
	opacity: 1;
}

#listview{
	display: block;
	position: fixed;
	top: 119px;
	right: 36px;
	fill: black;
	opacity: 0.5;
	margin: 0;
	transition: opacity 0.5s ease-out 0s;
}

#listview:hover {
	opacity: 1;
}

#addimage_form{
	margin: 200px;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}
#instructions {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	color: black;
	text-align: center;
	cursor: url(/static/img/cursor_default.svg) 21 21, default;
}

h1 {
	font-weight: bold;
	font-size: 20pt;
	text-transform: uppercase;
}

h2{
	font-weight: bold;
	font-size: 20pt;
	text-transform: uppercase;
}

p{
	font-family: 'Univers';
	font-size: 14pt;
}

ul{
	list-style-type: none;
}

A {
	text-decoration: none;
	color: black;
	cursor: url(/static/img/cursor_pointer.svg) 21 21, pointer;
}

A:hover {
  text-decoration: none;
}

textarea:focus, input:focus{
    outline: none;
}

.list{
	display: grid;
	grid-template-columns: repeat(3, 272px);
	grid-row-gap: 100px;
	justify-content: space-between;
	margin-top: 200px;
	margin-bottom: 104px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1238px;
}

.grid{
	display: grid;
	grid-template-columns: repeat(3, 272px);
	grid-row-gap: 100px;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1238px;
}

.post{
	min-height: 360px;
	display: flex;
	flex-direction: column;
}
.post>main{
	display: flex;
	flex-direction: column;
	margin-top: 8px;

}
.post>main>h2{
	flex-grow: 1;
}

.post>main>p{
	font-size: 12pt;
	text-transform: uppercase;
	margin-top: 4px;
	font-family: 'Univers Condensed';
	font-style: normal;
}

.post>header{
	background-position: center;
	background-size: cover;
}
.post>header>div{
	display: block;
	padding-top: 100%;
}

.area{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.login{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.login label{
	font-family: 'Univers';
	font-weight: normal;
	font-size: 18pt;
	margin-bottom: 16px;
}

.login input{
	font-family: 'Univers';
	font-weight: normal;
	font-size: 18pt;
	height: 48px;
	width: 480px;
	border: 2px solid black;
	margin-bottom: 24px;
	padding-left: 12px;
}

.login>div{
	display: flex;
	flex-direction: row;
}

.login a{
	text-decoration: underline;
	margin-left: 4px;
}

.login a:hover{
	text-decoration: none;
}

.column{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-right: 40px;
}
.column>div{
	display: flex;
	flex-direction: row;
}

.button{
	margin-top: 80px;
	background-color: white;
	font-size: 20pt;
	border: 2px solid black;
	width: 480px;
	height: 80px;
	text-transform: uppercase;
	font-family: 'Univers Condensed';
	font-weight: bold;
	outline: none;
	align-self: center;
}

.button:hover{
	background-color: black;
  color: white;
}

.newimage{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}
.addimage{
	margin-top: 36px;
	display: flex;
	flex-direction: column;
}

.addimage label{
	font-family: 'Univers';
	font-weight: normal;
	font-size: 18pt;
	margin-bottom: 16px;
}

.addimage input{
	font-family: 'Univers';
	font-weight: normal;
	font-size: 18pt;
	height: 48px;
	width: 480px;
	border: 2px solid black;
	margin-bottom: 24px;
	padding-left: 12px;
}

.file-upload input[type="file"]{
	display: none;
}

.file-upload {
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 240px;
	background: black;
	color: white;
	text-align: center;
	margin-bottom: 30px;
	align-self:center;
}

.file-upload:hover {
	background-color: white;
  color: black;
}

.file-upload label {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border: 2px solid black;
}

.file-upload span {
	font-family: 'Univers Condensed';
	font-weight: bold;
	font-size: 20pt;
	text-transform: uppercase;
}

#output{
	max-height: 240px;
}

#uploadimg{
	max-height: 64vh;
	margin-top: 18px;
	margin-bottom: 12px
}

.addimage>button{
	margin-top: 30px;
}

#cardInfo{
	display: none;
	z-index: 200000;
	position: fixed;
	bottom: 80px;
	right: 50px;
	border: solid 2px black;
	background-color: black;
	width: 280px;
	min-height: 130px;
}

#cardInfo>h2{
	margin-left: 16px;
	margin-top: 16px;
	max-width: 248px;
}

#cardInfo>p{
	margin-left: 16px;
	margin-bottom: 16px;
	margin-top: 16px;
	max-width: 248px;
}

#instructions{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#instructions>h3{
	font-size: 72pt;
	margin-bottom: 20px;
}

#instructions>p{
	font-size: 16pt;
	margin-bottom: 40px;
}

.cube {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
  perspective: 1000px;
  perspective-origin: center -10em;
	flex-direction: column;
}

.cube>h2{
	margin-bottom: 24px;
}

.side,
.container {
  width: 10em;
  height: 10em;
  }

.container {
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}
.container:before,
.container:after {
  display: block;
  position: absolute;
  width: 10em;
  height: 10em;
}
.container:before {
  transform: rotateX(90deg);
}
.container:after {
  transform: rotatey(90deg);
}

.side {
  position: absolute;
  width: 20em;
  height: 20em;
}

.back {
  transform: translateZ(-10em);
	border: 2px solid black;
}

.left {
  transform: translateX(-10em) rotateY(90deg);
	border: 2px solid black;
}

.right {
  transform: translateX(10em) rotateY(90deg);
	border: 2px solid black;
}
.top {
  transform: translateY(-10em) rotateX(90deg);
	border: 2px solid black;
}

.bottom {
  transform: translateY(10em) rotateX(90deg);
	border: 2px solid black;
}

.front {
  transform: translateZ(10em);
	border: 2px solid black;
}

@keyframes rotate {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
