<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/exhibition.css' %}">
		{% block title %}
    <title>Base</title>
		{% endblock %}
    <style>
			body { margin: 0; }
			canvas { width: 100%; height: 100%; };
		</style>
  </head>

  <body>
		<body>
			<div id="logo">
				<img src="{% static 'img/Logo.svg' %}" alt="Logo"/>
			</div>
			<top ui>
			<div id="top">
				<div id="top-left">
				<div class="shelf">
						<img src="{% static 'img/menudesktop.svg' %}" alt="Menu"/>
					</div>
				</div>
				<ul id="top-right">
		    	<li>
					<div class="shelf">
					{% block ico_rigth_top %}
					<img src="{% static 'img/Search.svg' %}" alt="Search"/>
					{% endblock %}
					</div>
				</li>
				<li>
					<div class="text-shelf">
						{% block menu %}
						{% endblock %}
						<p><a href="{% url 'auth_login' %}">ВХОД / РЕГИСТРАЦИЯ</a></p>
					</div>
				</li>
				</ul>
			</div>
			</top>
			<bottom ui>
			<div id="ui">
				<div id="ui-left">
					<div class="shelf">
						<img src="{% static 'img/Sound.svg' %}" alt="Sound"/>
					</div>
				</div>
				<ul id="ui-right">
		    	<li>
					<div class="shelf">
					<img src="{% static 'img/twitter.svg' %}" alt="Twitter"/>
					</div>
				</li>
				<li>
					<div class="shelf">
					<img src="{% static 'img/facebook.svg' %}" alt="Facebook"/>
					</div>
				</li>
				<li>
					<div class="shelf">
					<img src="{% static 'img/instagram.svg' %}" alt="Instagram"/>
					</div>
				</li>
				<li>
					<div class="shelf">
					<img src="{% static 'img/vk.svg' %}" alt="Vk"/>
					</div>
				</li>
				</ul>
			</div>
			</bottom>
	{% block content %}
	 	<h1>base</h1>
	{% endblock %}
	</body>
</html>
