{% extends "base/base.html" %}
{% load staticfiles i18n %}

{% block title %}Выставки{% endblock %}

{% block pagetitle %}Выставки{% endblock %}
{% block top_background %}white{% endblock %}
{% block flex-direction %}column-reverse{% endblock %}

{% block content %}
<div class="list">
{% for exhibition in exhibitions %}
    <article class="post">
      <header {% if exhibition.preview_back %} style="background-image: url({{exhibition.preview_back.url}})" {% endif %}><div></div></header>
      <main>
        <h2><a href="{% url 'exhibition_detail' exhibition.pk %}">{{ exhibition.title }}</a></h2>
        <p>Открытие: {{ exhibition.open_date|date:"j.m.Y" }}</p>
      </main>
    </article>

{% endfor %}
</div>
{% endblock %}
