{% extends "base/base.html" %}
{% load staticfiles i18n %}
{% block title %}Выставки{% endblock %}

{% block ui %}
	<body>
		<div id="logo">
			<img src="{% static 'img/Logo.svg' %}" alt="Logo"/>
		</div>
		<top ui>
		<div id="top">
			<div id="top-left">
			<div class="shelf">
					<img src="{% static 'img/menudesktop.svg' %}" alt="Menu"/>
				</div>
			</div>
			<ul id="top-right">
	    	<li>
				<div class="shelf">
				<img src="{% static 'img/Search.svg' %}" alt="Search"/>
				</div>
			</li>
			<li>
				<div class="text-shelf">
					<p><a href="{% url 'auth_login' %}">ВХОД / РЕГИСТРАЦИЯ</a></p>
				</div>
			</li>
			</ul>
		</div>
		</top>
		<bottom ui>
		<div id="ui">
			<div id="ui-left">
				<div class="shelf">
					<img src="{% static 'img/Sound.svg' %}" alt="Sound"/>
				</div>
			</div>
			<ul id="ui-right">
	    	<li>
				<div class="shelf">
				<img src="{% static 'img/twitter.svg' %}" alt="Twitter"/>
				</div>
			</li>
			<li>
				<div class="shelf">
				<img src="{% static 'img/facebook.svg' %}" alt="Facebook"/>
				</div>
			</li>
			<li>
				<div class="shelf">
				<img src="{% static 'img/instagram.svg' %}" alt="Instagram"/>
				</div>
			</li>
			<li>
				<div class="shelf">
				<img src="{% static 'img/vk.svg' %}" alt="Vk"/>
				</div>
			</li>
			</ul>
		</div>
		</bottom>

		{% endblock %}

		{% block content %}
	  <script src="{% static 'js/three.js' %}"></script>
		<script src="{% static 'js/OrbitControls.js' %}"></script>

		<script>

            var camera, scene, renderer;
            var cube_texture, loader;

            init( );
            animation( );


            function init( ){
                camera = new THREE.PerspectiveCamera( 60, window.innerWidth/window.innerHeight, 0.01, 1000 );
                camera.position.set( 0, 0, 625 );
			    			camera.setFocalLength ( 40 );
                scene = new THREE.Scene();
                scene.background = new THREE.Color(0xffffff);

                window.addEventListener('resize', function( ){
                    renderer.setSize( window.innerWidth, window.innerHeight );
                    camera.aspect = window.innerWidth / window.innerHeight;
                    camera.updateProjectionMatrix( );
                } );

									var h = 49.5;
									var geometry = new THREE.BufferGeometry();
									var vertices = new Float32Array([
										-h, -h, -h,
										-h, h, -h,
										-h, h, -h,

										h, h, -h,
										h, h, -h,
										h, -h, -h,

										h, -h, -h,
										-h, -h, -h,
										-h, -h, h,

										-h, h, h,
										-h, h, h,
										h, h, h,

										h, h, h,
										h, -h, h,
										h, -h, h,

										-h, -h, h,
										-h, -h, -h,
										-h, -h, h,

										-h, h, -h,
										-h, h, h,
										h, h, -h,

										h, h, h,
										h, -h, -h,
										h, -h, h
								] );
								geometry.addAttribute( 'position', new THREE.Float32BufferAttribute( vertices, 3 ) );
								var lineSegments = new THREE.LineSegments( geometry, new THREE.LineBasicMaterial( { color: 0x000000, linewidth: 2 } ) );
								lineSegments.computeLineDistances();

								scene.add( lineSegments );
								lineSegments.position.set(-175, 0, 0);

					//Cube geometry
						var cube_geometry = new THREE.BoxGeometry( 100, 100, 100 );

								{% for exhibition in exhibitions %}
								var texture_right = new THREE.TextureLoader().load( "{{exhibition.preview_right.url}}" );
								var texture_left = new THREE.TextureLoader().load( "{{exhibition.preview_left.url}}" );
								var texture_top = new THREE.TextureLoader().load( "{{exhibition.preview_top.url}}" );
								var texture_bottom = new THREE.TextureLoader().load( "{{exhibition.preview_bottom.url}}" );
								var texture_front = new THREE.TextureLoader().load( "{{exhibition.preview_front.url}}" );
								var texture_back = new THREE.TextureLoader().load( "{{exhibition.preview_front.url}}" );

								var cubeMaterials =
				[
								new THREE.MeshPhongMaterial( { map: texture_right, side: THREE.BackSide } ), //right
								new THREE.MeshPhongMaterial( { map: texture_left, side: THREE.BackSide } ), //left
								new THREE.MeshPhongMaterial( { map: texture_top, side: THREE.BackSide } ), //top
								new THREE.MeshPhongMaterial( { map: texture_bottom, side: THREE.BackSide } ), //bottom
								new THREE.MeshPhongMaterial( { map: texture_front, side: THREE.BackSide } ), //front
								new THREE.MeshPhongMaterial( { map: texture_back, side: THREE.BackSide } ) //back
				];
					var cube_material = new THREE.MeshFaceMaterial( cubeMaterials );
					var cube = new THREE.Mesh( cube_geometry, cube_material );
					scene.add( cube );
								{% endfor %}
								/*
								var cube_geometry = new THREE.BoxGeometry( 100, 100, 100 );

                var texture_right = new THREE.TextureLoader().load( "{% static 'img/right.jpg' %}" );
                var texture_left = new THREE.TextureLoader().load( "{% static 'img/left.jpg' %}" );
                var texture_top = new THREE.TextureLoader().load( "{% static 'img/top.jpg' %}" );
                var texture_bottom = new THREE.TextureLoader().load( "{% static 'img/bottom.jpg' %}" );
                var texture_front = new THREE.TextureLoader().load( "{% static 'img/back.jpg' %}" );
                var texture_back = new THREE.TextureLoader().load( "{% static 'img/back.jpg' %}" );

          			var cubeMaterials =
				[
								new THREE.MeshPhongMaterial( { map: texture_right, side: THREE.BackSide } ), //right
								new THREE.MeshPhongMaterial( { map: texture_left, side: THREE.BackSide } ), //left
								new THREE.MeshPhongMaterial( { map: texture_top, side: THREE.BackSide } ), //top
								new THREE.MeshPhongMaterial( { map: texture_bottom, side: THREE.BackSide } ), //bottom
								new THREE.MeshPhongMaterial( { map: texture_front, side: THREE.BackSide } ), //front
								new THREE.MeshPhongMaterial( { map: texture_back, side: THREE.BackSide } ) //back
				];
			    var cube_material = new THREE.MeshFaceMaterial( cubeMaterials );
			    var cube = new THREE.Mesh( cube_geometry, cube_material );
          scene.add( cube );
					*/
					var cube_geometry_2 = new THREE.BoxGeometry( 100.2, 100.2, 100.2 );
					var cubeBlackMaterials =
					[
						new THREE.MeshPhongMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshPhongMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshPhongMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshPhongMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshPhongMaterial( { color: 0x000000, side: THREE.BackSide } ),
						new THREE.MeshPhongMaterial( { color: 0x000000, side: THREE.FrontSide } )
					];

					var cube_black_material = new THREE.MeshFaceMaterial( cubeBlackMaterials );
					var cube_black = new THREE.Mesh( cube_geometry_2, cube_black_material );
					scene.add( cube_black );


					//Plane hor
					var shadowtex = new THREE.TextureLoader().load( "{% static 'img/shadowtex.jpg' %}" );
					var planeMaterials = new THREE.MeshBasicMaterial( { map: shadowtex, side: THREE.DoubleSide } );
          var geometry = new THREE.PlaneGeometry( 1300, 500 );
          var plane = new THREE.Mesh( geometry, planeMaterials );
          scene.add( plane );
          plane.position.set(350, -50.2, 0);
          plane.rotation.x = -Math.PI / 2;

          //line hor
					var geometry = new THREE.Geometry();
					geometry.vertices.push(
						new THREE.Vector3( -400, -40, -250 ),
						new THREE.Vector3( 1200,-40, -250 )
					);
					var line = new THREE.Line( geometry, new THREE.LineBasicMaterial( { color: 0x000000, linewidth: 2 } ) );
					scene.add(line);
            //Light
            var ambientLight = new THREE.AmbientLight( 0xFFFFFF, 1 );
            scene.add( ambientLight );

            renderer = new THREE.WebGLRenderer({ antialias: true });
            renderer.setSize( window.innerWidth, window.innerHeight );
            renderer.shadowMap.enabled = true;
			    	renderer.shadowMap.type = THREE.PCFSoftShadowMap;
            document.body.appendChild( renderer.domElement );

						// controls
						controls = new THREE.OrbitControls( camera, renderer.domElement );
      }


            function animation( ){
                requestAnimationFrame( animation );
								controls.update()
                renderer.render( scene, camera );
            }

		</script>
		{% endblock %}
