{% extends "base/base.html" %}
{% load staticfiles i18n %}
{% block title %}Выставки{% endblock %}

{% block ui %}



		<div id="sidebar">
		  <ul>
		    <li><a id="a_menu" href="{% url 'exhibition_list' %}">Выставки</a></li>
		    <li><a id="a_menu" href="{% url 'post_list' %}">Блог</a></li>
		    <li><a id="a_menu" href="#!">Вакансии</a></li>
		    <li><a id="a_menu" href="{% url 'about' %}">О нас</a></li>
		  </ul>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$('#menu-btn').click(function(){
					$('#sidebar').toggleClass('visible');
				});
			});
		</script>

		{% endblock %}

		{% block content %}
		<script src="{% static 'js/three.js' %}"></script>
		<script src="{% static 'js/OrbitControls.js' %}"></script>

		<script>

            var camera, scene, renderer, raycaster;
            var cube_texture, loader;
						var mouse = new THREE.Vector2();

						init( );
            animation( );


            function init( ){
                camera = new THREE.PerspectiveCamera( 60, window.innerWidth/window.innerHeight, 0.01, 1000 );
                camera.position.set( 0, 0, 625 );
			    			camera.setFocalLength ( 40 );
                scene = new THREE.Scene();
                scene.background = new THREE.Color(0xffffff);

									var h = 49.5;
									var geometry = new THREE.BufferGeometry();
									var vertices = new Float32Array([
										-h, -h, -h,
										-h, h, -h,
										-h, h, -h,

										h, h, -h,
										h, h, -h,
										h, -h, -h,

										h, -h, -h,
										-h, -h, -h,
										-h, -h, h,

										-h, h, h,
										-h, h, h,
										h, h, h,

										h, h, h,
										h, -h, h,
										h, -h, h,

										-h, -h, h,
										-h, -h, -h,
										-h, -h, h,

										-h, h, -h,
										-h, h, h,
										h, h, -h,

										h, h, h,
										h, -h, -h,
										h, -h, h
								] );
								geometry.addAttribute( 'position', new THREE.Float32BufferAttribute( vertices, 3 ) );
								var lineSegments = new THREE.LineSegments( geometry, new THREE.LineBasicMaterial( { color: 0x000000, linewidth: 2 } ) );
								lineSegments.computeLineDistances();

								scene.add( lineSegments );
								lineSegments.position.set(-175, 0, 0);

					//Cube 1
						var cube_geometry = new THREE.BoxGeometry( 100, 100, 100 );

{% for exhibition in exhibitions %}
								var texture_right_{{exhibition.id}} = new THREE.TextureLoader().load( "{{exhibition.preview_right.url}}" ),
								texture_left = new THREE.TextureLoader().load( "{{exhibition.preview_left.url}}" ),
								texture_top = new THREE.TextureLoader().load( "{{exhibition.preview_top.url}}" ),
								texture_bottom = new THREE.TextureLoader().load( "{{exhibition.preview_bottom.url}}" ),
								texture_front = new THREE.TextureLoader().load( "{{exhibition.preview_front.url}}" ),
								texture_back = new THREE.TextureLoader().load( "{{exhibition.preview_front.url}}" );

								var cubeMaterials-{{exhibition.id}} =
				[
								new THREE.MeshBasicMaterial( { map: texture_right_{{exhibition.id}}, side: THREE.BackSide } ), //right
								new THREE.MeshBasicMaterial( { map: texture_left, side: THREE.BackSide } ), //left
								new THREE.MeshBasicMaterial( { map: texture_top, side: THREE.BackSide } ), //top
								new THREE.MeshBasicMaterial( { map: texture_bottom, side: THREE.BackSide } ), //bottom
								new THREE.MeshBasicMaterial( { map: texture_front, side: THREE.BackSide } ), //front
								new THREE.MeshBasicMaterial( { map: texture_back, side: THREE.BackSide } ) //back
				];
					var cube_material = new THREE.MeshFaceMaterial( cubeMaterials );
					var cube = new THREE.Mesh( cube_geometry, cube_material );
					scene.add( cube );
{% endfor %}
					// Black cubes
					var cube_geometry_2 = new THREE.BoxGeometry( 100.2, 100.2, 100.2 );
					var cubeBlackMaterials =
					[
						new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.FrontSide } ),
						new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.BackSide } ),
						new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.FrontSide } )
					];

					var cube_black_material = new THREE.MeshFaceMaterial( cubeBlackMaterials );

					for ( var i = 0; i < 7; i ++ ) {
						var object = new THREE.Mesh( cube_geometry_2, cubeBlackMaterials );
						object.position.x = 175 * i;

						scene.add( object );
				}

					//Text
					var loader = new THREE.FontLoader();
					loader.load( "{% static 'fonts/Univers_Condensed_Bold.json' %}", function ( font ) {
						var textShape = new THREE.BufferGeometry();
						var textMat = new THREE.MeshBasicMaterial( { color: 0x000000, side: THREE.DoubleSide } );
						//var message = "Three.js\nSimple text.";
						var message = "НАИМЕНОВАНИЕ\nВЫСТАВКИ";
						var shapes = font.generateShapes( message, 9 );
						var geometry = new THREE.ShapeGeometry( shapes );

						geometry.computeBoundingBox();
						textShape.fromGeometry( geometry );
						text = new THREE.Mesh( textShape, textMat );
						text.position.set(-50, 65, 50);
						scene.add( text );
					} );

					//Plane hor
					var shadowtex = new THREE.TextureLoader().load( "{% static 'img/shadowtex.jpg' %}" );
					var planeMaterials = new THREE.MeshBasicMaterial( { map: shadowtex, side: THREE.DoubleSide } );
          var geometry = new THREE.PlaneGeometry( 1300, 500 );
          var plane = new THREE.Mesh( geometry, planeMaterials );
          scene.add( plane );
          plane.position.set(350, -50.2, 0);
          plane.rotation.x = -Math.PI / 2;

          //Line hor
					var geometry = new THREE.Geometry();
					geometry.vertices.push(
						new THREE.Vector3( -400, -40, -250 ),
						new THREE.Vector3( 1200,-40, -250 )
					);
					var line = new THREE.Line( geometry, new THREE.LineBasicMaterial( { color: 0x000000, linewidth: 2 } ) );
					scene.add(line);

          renderer = new THREE.WebGLRenderer({ antialias: true });
          renderer.setSize( window.innerWidth, window.innerHeight );
          renderer.shadowMap.enabled = true;
			    renderer.shadowMap.type = THREE.PCFSoftShadowMap;
          document.getElementById('page_content').appendChild( renderer.domElement );

					// Controls
					controls = new THREE.OrbitControls( camera, renderer.domElement );

					document.addEventListener( 'mousemove', onDocumentMouseMove, false );
					window.addEventListener( 'resize', onWindowResize, false );
      }

			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );
			}

			function onDocumentMouseMove( event ) {
				event.preventDefault();
				mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
				mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
			}

      function animation( ){
        requestAnimationFrame( animation );
				controls.update()
				render();

      }

			function render() {
	/*		raycaster.setFromCamera( mouse, camera );

				var intersects = raycaster.intersectObjects( scene.children );


				for ( var i = 0; i < intersects.length; i++ ) {

				intersects[ i ].object.material.color.set( 0xff0000 );

			}
*/
				renderer.render( scene, camera );
			}

		</script>
		{% endblock %}
